.thankyou
  padding-top: 50px
  padding-bottom: 70px
  &__info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
  &__name
    font-size: 24px
    line-height: 30px
    margin-top: 0
    margin-bottom: 20px
  &__discription
    font-size: 16px
    line-height: 20px
    margin-top: 0
    margin-bottom: 40px
  &__button
    min-width: 125px
    min-height: 45px
    font-weight: 600
    font-size: 14px
    line-height: 19px
    border-radius: 4px
    background-color: $primary
    border: none
    color: $light
    cursor: pointer
